<div class="container">
  <section>
    <h1>RxJs in Angular</h1>
    <div class="content-wrap">
      <div class="visual-box">
        <img src="../assets/images/rxjs-logo.png" alt="RxJs Logo" />
      </div>
      <p class="description">
        це JavaScript бібліотека, яка дозволяє створювати код у реактивному
        стилі програмування, керуючи подіями та асинхронними операціями у
        додатку, полегшуючи контроль над процесами програми.
      </p>
    </div>
  </section>

  <section class="section candidates">
    <div class="section__title candidates__title">
      <button class="btn" [disabled]="isDisabled" (click)="startInterval()">
        Start Interval
      </button>
      <span>example of interval, pipe, subscribe</span>
    </div>
    <h3 *ngIf="candidates.length">List of candidates:</h3>
    <ul class="candidates__list">
      <ng-container *ngFor="let candidate of candidates">
        <li>{{ candidate }}</li>
      </ng-container>
    </ul>
  </section>

  <section class="section">
    <div class="section__title">
      <button class="btn" (click)="logSream()">Log Stream</button>
      <span>stream$</span>
    </div>
  </section>

  <section class="section">
    <div class="section__title">
      <button class="btn" (click)="logDataFromService()">Log data</button>
      <span>log data from service</span>
    </div>
  </section>

  <section class="section">
    <div class="section__title">
      <input
        type="text"
        placeholder="Search..."
        (click)="searchDataInput()"
        #input
      />
      <span>conditional search</span>
    </div>
  </section>

  <section class="section-http">
    <h2>HTTPClient</h2>
    <div class="content-wrap">
      <div class="visual-box visual-box--square">
        <img src="../assets/images/httpclient-logo.png" alt="HttpClient Logo" />
      </div>
      <p class="description">
        механізм фреймворку Angular для взаємодії з віддаленим сервером через
        HTTP. <br />
        Методи: get, post, put, delete, request, head, jsonp, options, patch
      </p>
    </div>
  </section>

  <app-posts></app-posts>
</div>
