* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.3;
  color: #4c4456;
  margin: 0;
}

h1,
h2,
p {
  margin: 0;
}

h1 {
  color: #582a91;
  text-align: center;
}

h2 {
  color: #795b9d;
  font-size: 22px;
}

.container {
  max-width: 1180px;
  padding: 0 20px;
  margin: auto;
}

section {
  padding: 20px 0;
}

.section {
  border-radius: 8px;
  border: 2px solid #837596;
  margin: 20px 0;
  padding: 20px;

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    span {
      font-size: 14px;
      color: #837596;
    }
  }
}

.btn {
  min-width: 140px;
  font-weight: 600;
  color: #fff;
  background: #572b8d;
  border: 2px solid transparent;
  border-radius: 8px;
  padding: 8px 14px;
  transition: all 0.4s ease;
  cursor: pointer;

  &:hover {
    font-weight: 600;
    color: #572b8d;
    background: transparent;
    border-color: #572b8d;
  }

  &:disabled {
    background: #dedede;
    pointer-events: none;

    &:hover {
      font-weight: 600;
      color: #fff;
      border-color: transparent;
    }
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
